.form{
    display: flex;
    flex-direction: column;
    width: 365px;
    align-items: center;
    height: 391px;
    justify-content: space-between;
}

.formContainer{
    display: flex;
    justify-content: center;
}

.fields{
    height: 40px;
    border-radius: 10px;
    border-color: black;
    border: double;
    width: -webkit-fill-available;
}

.textarea{
    border-radius: 10px;
    border-color: black;
    border: double;
    width: -webkit-fill-available;
}

.button{
    height: 60px;
    width: 110px;
    border-radius: 10px;
    border-style: ridge;
}